.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; // hides portion of the element that goes outside the container

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // element will fill the entire parent while keeping its aspect ratio
    // similar to background img cover but can be used for media and videos
  }
}
